/* 
    Created on : 18 mars 2014, 16:35:57
    Author     : Adrien Castex et Arnaud Orgelet
*/

html,
body
{
  /* Cacher en responsive avec petit format */
  overflow-x: hidden;
}

body
{
  padding-top: 70px;
  
  background-color: rgb(220, 200, 200);
}



.main-frame
{
    text-align: center;
}
.main-frame img
{
    display: inline-block;
}

#sidebar .active
{
    background-color: #101010;
    border-color: #101010;
}

button[data-toggle=offcanvas]:active,
button[data-toggle=offcanvas]:visited,
button[data-toggle=offcanvas]:focus,
button[data-toggle=offcanvas]
{
    background-color: #101010;
    border-color: #101010;
    
    outline-style: none;
}
button[data-toggle=offcanvas]:hover
{
    background-color: #404040;
    border-color: #404040;
}
